[flake8]
max-line-length = 79
extend-ignore =
    # See https://github.com/ambv/black/issues/429#issuecomment-422412278
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    .tox,
    .venv,

